*{
    padding: 0;
    margin: 0;
    font-family: "Raleway";
    box-sizing: border-box;
}
body{
    /* padding: 2rem; */
    font-family: "Raleway";
    width: 100vw;
    overflow-x: hidden;
    min-height: fit-content;
    background-image:linear-gradient(rgba(3, 3, 3, 0.788),rgba(26, 17, 17, 0.863));
    background-color: #3f2c2c;

}

h1 {
    font-size: 2.5rem;
   }
h2 {
    padding: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}


span{
    color:#f9004d;
    font-style: normal;
    font-weight: bolder;
    font-size: 2.2rem;

}
  h3 {
    font-size: 1.2rem;
    color: white;
   }

.aspire{
    color: white;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
a:hover{
    color: #f9004d;
    transition: .5s;
    text-decoration: underline;
    font-size: 1.2em;
}

.intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 5rem;
    background-color: #f9004d;
    background-size: 100%;
    background-position: left center;
    background-repeat: no-repeat;
    background-image:linear-gradient(rgba(26, 20, 20, 0.8),rgba(34, 33, 33, 0.8)), url(/assets/istockphoto-1331881656-612x612.jpg)

}
h1 {
    color: white;
   padding: 1rem;
}
.quotes{
    color: white;
   padding: 1rem;
}
h4{
    color: rgba(236, 224, 226, 0.8);
    letter-spacing: 1px;
    padding: 1rem;
}

.content {
    width: 100%;
}
h2{
    color: #f9004d;
}

.about{
    width: 100%;
    background-image:linear-gradient(rgba(3, 3, 3, 0.788),rgba(26, 17, 17, 0.863));
    background-color: #3f2c2c;
    background-position: right center;
    background-repeat: no-repeat;
    display: grid;
    place-content: center;
    min-height: 30vh;
    background-size: 75%;
    padding: 1rem;
    font-size: 1rem;
}


   
.about p{
    color: white;
}

.post__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.post__container li {
    list-style-type: none;
}

.blog__container {
    background-color: white;
    height: fit-content;
    padding: 2rem;
}

@media (max-width: 640px) {
   .main {
    width: 100%;
    padding: 1rem;
   }

   h1 {
    font-size: 1.5rem;
   }
   h3 {
    font-size: 1.2rem;
    color: white;
   }
    span{
    color:rgb(255, 153, 0);
}
h2{
    color: rgb(255, 153, 0);
}
.about h2{
    color: rgb(255, 153, 0);
}
}


@media (min-width: 1024px) {
   .main {
    width: 80%;
    padding: 1rem;
   }
   span{
    color:#f9004d;
   }
     h3 {
    font-size: 1.2rem;
    color: white;
   }
   h2{
    color:#f9004d;
   }
   .intro{
    display: flex;
    padding: 5rem;
    flex-direction: row;
    background-size: 75%;

}
}



