*{
    line-height: 1.5; 
    text-align: left; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  

 
}

:root {
    --clr-blue: rgb(88, 119, 255);
}



body{
    font-family: "Raleway";
    width: 100vw;
    overflow-x: hidden;
    background-color: white;
}
main{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    background-color: rgba(243, 245, 254, 0.182) ;
  
   
}
.back {
    color: inherit;
    padding-top: 1.5rem;
}
.back a:hover{
    font-size: 1.1rem;
    transition: 0.3s;
    
    cursor: pointer;
    color: brown;

}
.list{
    line-break: auto;
}
.diffuse{
    padding-top: 2.5rem;
}
li{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    list-style-position: inside;
}
#name{
    font-size: x-large;
}
h1{
    padding-top: 5rem;
}


h3{
    font-size: 2rem;
}
p, img, h1, h2, h3, h4 {
    padding-bottom: 10px;
    margin: 0;   
}
a{
    padding: 0;
    margin: 0;
}

header h3{
    font-size: 40px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px rgba(128, 128, 128, 0.514);

}
header p span{
    font-weight: thin;
    font-size: medium; 
    font-weight: lighter; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}
header p {
    font-weight: 900;
    font-size: large; 
    font-weight: lighter; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;   
}
fieldset{
    all: unset;
    padding: 1rem;
}
div p span{
    margin: 0;
    font-style: italic;
    font-weight: bolder;
}
.date{
    font-style: italic;
}
img{
    max-width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    width: 100%;
    height: auto;
    object-position: center;
    padding-top:1rem;
    
}
.mail{
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(3, 3, 3);
    font-style: unset;
}
.background_image{
padding-top: 3rem;
    padding-bottom: 2rem;
 border-radius: 1rem;
}
.twofilm{
    font-size: 1rem;
}

.Ficklaw{

    width: 40%;
    height: 20%;

}
.picture{
    width: 50%;
    height: 30%;
    position:  center;
}
.driving_force{
    border-radius: 0.8rem;
    border-left: 3px solid var(--clr-blue);
    background-color: rgb(197, 226, 255);
}
.transient{
    border-radius: 0.8rem;
    border-left: 3px solid var(--clr-blue);
    background-color: rgb(197, 226, 255);
}
.drawback{
    border-radius: 0.8rem;
    border-left: 3px solid rgb(255, 65, 65);
    background-color: rgb(254, 192, 192);
}
.ficks_law{
     border-radius: 0.8rem;
    border-left: 3px solid var(--clr-blue);
    background-color: rgb(197, 226, 255);
}
a:hover{
    font-size: 1.1em;
    color: rgb(0, 81, 255);
    cursor: pointer;
}
a{
    font-style: italic;
}
ol li{
    padding: 30px;
    margin: -40px;
    margin-left: -75px;
    font-size: 0.9em;
    list-style-position: inside;
    padding-top: -50px;
}

.back_page{
    border-radius: 15px 15px 15px 15px;
    padding: 5px;
    border-color: rgb(190, 190, 246);
    width: 70px;
    height: 30px;
    padding-left: 10x;
    text-decoration: none; 
} 
button:hover{
    transform: scale(1.1);
}
button a{
    text-decoration: none;

}
.diffusion{
    padding-top: 2rem;
}
.copyright{
    text-align: center;
}
.conclusion{
    padding-top: 3rem;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 640px) {
   main {
    width: 100%;
    padding: 1rem;
   }

   h1 {
    font-size: 1.5rem;
   }
   h3 {
    font-size: 1.2rem;
   }
}


@media (min-width: 1024px) {
   main {
    width: 60%;
    padding: 1rem;
   }
}

